
.portfolio {
  background-color: white;
}

.bord {
  background-color: white;
}
.main {
  align: center;
  color: black;
  background-color: white;
}

h1 {
  margin: 10px;
  color: gold;
}

h1, h2, h3 {
  margin: 10px;
}

.img-responsive {
  margin: 20px;
}

  .profile-pic-border {
    border-color: gold;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

.btn {
  background-color: gold;
  color: black;
  margin: 7px;
  font-family: monospace;
}
